* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --text-color: black;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*    border: 1px solid red; */
  margin: 56px auto 0;
  text-align: center;
  padding: 0 24px;
}

#profile {
  padding: 24px 0;
}

#profile p {
  width: 112px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
}

#profile img {
  width: 112px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 12px;
  left: 0;
  z-index: 1;
  animation: slide-out 0.2s forwards;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 0px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 99999px;
  border: 1px solid var(--stroke-color);
  background: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.light #switch button {
  left: initial;
  animation: sliden-in 0.4s forwards;
}

/*listas*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  border: 1px solid var(--stroke-color);
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

#social-links a {
  padding: 16px;
  gap: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
}
